*{
    box-sizing: border-box;
    margin: 0; /*standard margin fjernes*/
}

body{
    font-family: "inter", sans-serif;
    font-weight: 700;
    color: #1c1c1c;
    background-color: #f5f5f5;
}

/*Navigation - Header*/

header{
    padding: 0.8em 1em; /*luft inde i headeren*/
    background-color: #f5f5f5;
    position: sticky; /*Gør at header sidder fast i toppen, når man scroller*/
    top: 0; /*headeren placeres øverst*/
    display: flex;
    align-items: center; /*centrerer indholdet lodret i headeren*/
    justify-content: space-between; /*giver afstand mellem logo og navigation.*/
}

.logo{
    display: flex; 
    align-items: center; 
}

.logo img{
    max-height: 60px;
    width: auto;
    display: block; /*fjerner ekstra luft under billedet*/
}

header nav{
        display: none; /*skjuler navigationen - mobilfirst prioritet*/
 }

.show{
        display: block; /*viser navigationen når klassen "show" er tilføjet*/
        position: absolute; /*menuen ligger under header, når man åbner den*/
        top: 100%;
        left: 0;
        background-color: #f5f5f5;
        width: 100%; /*fylder hele skærmens bredde*/
}

.show ul{
        display: flex;
        flex-direction: column;/*links står lodret i burgermenu*/
        align-items: center; 
        gap: 1.2em; /*afstand mellem links*/
        margin:0;
        list-style: none; /*fjerner bulletpoints*/
}

button#bars{
        background-color: transparent; /*gør baggrunden på burger menu knappen gennemsigtig*/
        border: none; /*fjerner kantlinje*/
        position: absolute;
        right: 1em; /*lægger burgermenuen 1em fra højre side*/
        cursor: pointer; /*gør at man kan se det er en knap, man kan trykke på*/
        font-size: 20px;
 }
    

nav ul{
    list-style: none; /*fjerner bulletpoints*/
    padding: 1em;
    margin: 0; 
}

nav li a{
    color: #1c1c1c;
    text-decoration: none; /*fjerner understregning på links*/
    font-size: 22px;
}

nav li a:hover{
    text-decoration: underline; /*tilføjer understregning på links ved hover*/
    color: #74251A;
}

button#bars :hover{ /*hover ved burgermenu*/
    color: #74251A; 
 }

nav a.active{ /*viser hvilket link man er inde på*/
    text-decoration: underline; /*viser det aktive link med understreg i headeren*/
    color: #74251A;
}


/*Main*/

h1,h2,h4{ 
    font-family: "poppins", sans-serif;
    font-weight: 700; /*bold skrift*/
    font-size: 30px;
    margin-bottom: 15px; /*afstand til indholdet under*/
}

h3{ 
    margin-top: 15px; /*afstand til indholdet ovenover*/
    margin-bottom: 15px; 
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-size: 26px;
}

p{
    line-height: 1.6em; 
    margin-bottom: 30px; 
    font-weight: 500;
    font-size: 18px;
}


img{
    max-width: 100%; /*sikrer billederne responsivitet*/
    height: auto;
}

main{
    margin: 2em 1em;
}

section{
    margin: 2em 1.5em; /*luft mellem sektioner*/
}


section:nth-of-type(1) div{
    padding-bottom: 2em; /*luft mellem tekst og billede ved sektion1*/
}

section:nth-of-type(2) div{
    padding-bottom: 2em; /*luft mellem tekst og billede ved sektion2*/
}


/*Knapper i main*/

.find-ro-her{ /*Find ro her knap*/
    background-color: #9C3D00;
    color: #FFFFFF;
    font-size: 20px;
    padding: 0.6em 2em; 
    display: inline-block;
    margin-top: 0.8em; 
    margin-bottom: 1em; 
    text-decoration: none; /*fjerner understregning på links*/
    border-radius: 15px; /*bløde og runde kanter på knappen*/
}

.læs-mere{ /*Læs mere knapperne*/
    background-color: #9C3D00;
    color: #FFFFFF;
    font-size: 20px;
    padding: 0.6em 2em;
    display: inline-block;
    margin-top: 0.8em;
    margin-bottom:1em;
    text-decoration: none;
    border-radius: 15px;
}

.læs-mere:hover, .find-ro-her:hover{ /*hover på knapperne*/
    background-color: #74251A;
}


/*3 CTA bokse på Find Ro siden*/

.cta-section{
    display: flex;
    flex-direction: column; /*indholdet ligger lodret*/
    align-items: center; /*de 3 bokse er placeret i midten*/
    gap: 4em; /*luft imellem indholdet*/
    padding: 1em;
    margin-bottom: 4em; /*afstand til indholdet under*/

}

.cta-box{
    background-color: #f5f5f5;
    border: 2px solid #1c1c1c; /*2px solid kant rundt om*/
    padding: 2em 1.5em;
    max-width: 350px;
    width: 100%;
    text-align: left; /*tekst fra venstre side*/
}

.cta-box i{ /*styling af ikoner i cta-boksene*/
    font-size: 32px;
    color: #1c1c1c;
    display: block;
    margin-bottom: 0.5em;
}

.cta-box p{
    margin-bottom: 1em;
}

/*Kildeliste på min Find Ro side*/
.kildeliste{
    list-style-type: disc; /*bulletpoints på kildelisten*/
}

.kildeliste li{
    margin-bottom: 1em;
    max-width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.6;
    word-wrap: break-word; /*gør at links brydes i ordene så de ikke stikker længere ud end resten på siden*/
}

.kildeliste em{ /*gør kun titlerne på kilden kursiv*/
    font-style: italic;
}

/*Kontaktform*/

.kontaktform{
    display: flex;
    flex-direction: column; /*indhold ligger under hinanden / lodret*/
    justify-content: flex-start; /*Alt indhold starter i venstre side*/
    max-width: 600px; /*maks bredde tl mobil*/
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px; /*afstand mellem felterne*/
}


input[type=text], input[type=email], input[type=tel], textarea{ /*Styling af tekst, email, telefon og besked felt*/
    width: 100%; /*udnytter den fulde bredde på mobil*/
    padding: 1em;
    font-family: "inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #1c1c1c;
    border: 1.5px solid #1c1c1c; /*1.5px solid kant rundt om felterne*/
    border-radius: 3px; /*bløde hjørner på felterne*/
    margin: 3px 0; /*margin i top og bund, 0 margin i siderne*/
    resize: none; /*brugerne kan ikke ændre i størrelsen på felterne (besked feltet)*/
    background-color: #FFFFFF;
}

::placeholder{ /*tekst inde i felterne*/
    color: #1c1c1c;
}

input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover, textarea:hover{
    outline: 3px solid #74251A; /*hover farve når musen er på feltet*/
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus{ 
    outline: 3px solid #74251A;/*farven rundt om feltet når man står inde i feltet*/
}


input[type="submit"]{ /*styling af send besked knap*/
    display: inline-block;
    width: auto;
    align-self: flex-start; /*knappen starter i venstre side*/
    background-color: #9C3D00;
    color: #FFFFFF;
    font-size: 20px;
    padding: 0.6em 2em;
    border: none;
    border-radius: 15px;
    cursor: pointer; /*gør at man kan se det er en knap, man kan trykke på*/
    margin-top: 1em; /*afstand til indholdet ovenover*/

}

input[type="submit"]:hover{ /*hover på send besked knap*/
    background-color: #74251A;
}

/*WCAG tilgængeligheds element ift. label navn i kontaktformular*/
.visually-hidden{
    border: 0;
    clip: rect(0 0 0 0 );
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*Bundlinje - footer*/
.footer{
    background-color: #C9DBE7;
    color: #1c1c1c;
    padding: 20px 20px;
    width: 100%; /*udnytter den fulde bredde*/

}

.footer-content{
    display: flex;
    justify-content: space-between; /*luft mellem tekst og ikoner, som gør at teksten ligger til venstre og ikonerne til højre*/
    align-items: center;
    margin: 0 auto;

}

.footer-text p{
    margin: 2px 1px;
    font-size: 16px;
    font-weight: 700;
}

.footer-icons a{
    color: #1c1c1c;
    font-size: 28px;
}

.footer-icons a:hover{ /*hover på ikoner*/
    color: #74251A; 
}


/*media query til dekstop versionen*/

@media screen and (min-width: 769px){

    /*Navigation*/
    #bars{
        display: none; /*skjuler burgermenu ikon på desktop*/;
    }

    header nav{
        display: block; /*viser navigationen på desktop*/;
        padding: 1em;
    }

    nav ul{
        display: flex;
        justify-content: center; /*centrerer navigationen*/
        gap: 2em; /*afstand mellem links*/;
    }

    header{
        display: flex;
        justify-content: center; /*centrerer navigationen*/
    }

    .logo{
        position: absolute;
        left: 1.5em; /*logo til venstre*/
    }

    /*Main*/

    main{
        margin: 4em 4em;
    }

    section{
        display: flex;
        align-items: center; /*billederne er centrerert ift. teksten*/
        justify-content: space-between; /*luft mellem tekst og billede, så tekst ligger til venstre og billede til højre*/
        gap: 3em; /*afstand mellem indhold*/
        margin: 4em 0;
    }

    section div{
        flex: 1; /*tekst fylder halvdelen af sektionen*/
    }

    section img{
        flex: 1; /*billede fylder halvdelen af sektionen*/
        width: 100%;
        max-width: 500px;
        height: auto;
    }


    /*3 CTA bokse på Find Ro siden*/
    .cta-section{
        display: flex;
        flex-direction: row; /*de 3 bokse ligger ved siden af hinanden*/
        justify-content: flex-start;
        align-items: stretch; /*Lige høje bokse*/
        gap: 4em; /*afstand mellem de 3 bokse*/
    }

    .cta-box{
        display: flex;
        flex-direction: column; /*indholdet inde i boksene ligger under hinanden / lodret*/
        justify-content: space-between; /*Skuber indholdet fra hinanden lodret, og får knapperne til at ligge på samme linje*/
        flex: 1; /*alle 3 bokse fylder det samme*/
    }

    .cta-box .læs-mere{
        align-self: flex-start; /*knap i venstre side*/
    }


    .kildeliste li{ 
        max-width: 600px; /*ser visuelt bedre ud ift. at de 2 første sektioner ikke fylder hele siden*/
    }


    /*Kontaktformular*/

    .kontaktform{
        max-width: 700px; /*lidt breddere kontaktform på desktop*/
        padding: 2em 0;
    }

    form{
        gap: 25px; /*smule mere afstand mellem indhold på desktop */
    }

}



