*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "inter", sans-serif; /*brødtekst til inter*/
    font-weight: 700; /*fed skrift*/
    color: #1c1c1c;
}
h1,h2{
    font-family: "poppins", sans-serif;/*h1, h2 til poppins*/
    font-weight: 700; /*fed skrift*/
    color: #1c1c1c;
    font-size: 30px;
}

img{
    max-width: 100%; /*sikre billederne responsivitet*/
}

/*Navigation*/

header{
    background-color: #F5F5F5;
    padding: 1em;
}

nav ul{
    list-style: none; /*fjerner bulletpoints*/
    padding: 0;

}

nav li{
    padding: 0.8em; /*mere afstand omkring hvert link*/

}

nav li a{
color: #1c1c1c;
text-decoration: none; /*fjerner understregning på links*/
font-size: 20px;
}

nav li a:hover{
    text-decoration: underline; /*tilføjer understregning på links ved hover*/
    color: #9C3D00;
}

/*Main*/
main{
    margin: 2em;

}

section{
    margin-bottom: 5em;

}

/*Media query til desktop vesionen*/

@media screen and (min-width: 769px){
#bars{
    display: none; /*skjuler burgermenu ikon på desktop versionen*/
}


nav ul{
    display: flex;
    justify-content: center; /*centrerer navigationen*/
}

section:nth-of-type(1){
    display: flex;
    gap: 2em;
}

section:nth-of-type(1) div{
    width: 50%;
}


section:nth-of-type(1) img{
    width: 40%;
}

section:nth-of-type(2){
    display: flex;
    justify-content: space-around;
    gap: 1em;
}

section:nth-of-type(2) img{
    width: 40%;
}
}

/*Media query til mobil version*/

@media screen and (max-width:768px){
    header nav{
        display: none; /*skjuler navigationen på mobil versionen*/
    }

    header{
        display: flex;
        justify-content: flex-end; /*placerer burgermenu ikon i højre side*/
    }

    .show{
        display: block; /*viser navigationen når burgermenu klassen show i javascript er tilføjet*/
        position: absolute;
        top:49px;
        left:0;
        background-color: #F5F5F5;
        width: 100%;
    }

    button#bars{
        background-color: transparent; /*gør baggrunden på burgermenu knappen gennemsigtig*/
        border: none;
    }

    section:nth-of-type(1) div{
        padding-bottom:2em;
    }

}




